.searchForm {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    margin: 10px auto;
}

/* ****************** */
/* ****************** */
.searchInput {
    padding: 9px 18px;
    width: 100%;
    border: .75px solid #cecece;
    font-size: 1rem;
}

/* ****************** */
/* ****************** */

.searchInput:focus,
.searchButton {
    outline-color: rgb(103, 156, 226);
}

.searchButton {
    padding: 9px 18px;
    background-color: transparent;
    color: black;
    border: 1px solid #cecece;
    border-radius: 5px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

/* ****************** */
/* ****************** */

.headroomWrapper {
    background-color: white;
    height: initial !important;
    z-index: 10;
}