.home {
    display: flex;
    position: relative;
    height: 80vh;
    width: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
}

.spacingBottom {
    margin-bottom: 1.05rem;
}